*.tr
build/*
.waf*
.lock-waf*
.vscode/*

analyze/raw_basic/*
mix/output/*
mix/*_flow.txt
config/*_flow.txt
analysis/figures/*.pdf
**/*.pyc
.vscode
__pycache__
mix/.history
*.png
*.pdf
mix/index.txt
autorun.sh
mix/.history
mix/autorun_history.txt
*.docx
mix
run.py